@font-face {
    font-family: 'Capraismo';
    src: url("../fonts/Caprasimo/Caprasimo-Regular.ttf");
}

body {
    padding: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Arial;
    padding: 20px;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.texto {
    width: 50em;
    text-align: justify;
}

img {
    align-self: center;
}

h1 {
    font-family:'Times New Roman' ;
    font-size:xx-large;
    font-weight: 700;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
    .espacamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    }
    
    .espacamento2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    }